@font-face
{
	font-family: 'Press Start 2P';
	src: url('PressStart2P-Regular.ttf'); // IE9 compat
	src: url('PressStart2P-Regular.ttf') format('truetype'); // Safari, Android, IOS
}

$backgroundcolor: #002e5b;
$maincolor: #7eebae;
$accentcolor: #54ad7c;
$atmospherecolor: #022241;

html
{
	background-color: $atmospherecolor;
}

body
{
	background-color: $maincolor;
	color: $backgroundcolor;
	font-family: 'Press Start 2P', cursive;
	border-radius: 25px;
}

p
{
	font-size: 1rem;
	text-transform: lowercase;
	font-variant: small-caps;
}

label
{
	font-size: .7rem;
}

output
{
	font-size: .7rem;
}

input[type='range']
{
	vertical-align: middle;

	&::-webkit-slider-runnable-track
	{
		background-color: $accentcolor;
	}

	&::-moz-range-progress
	{
		background-color: $accentcolor;
	}

	&::-moz-range-track
	{
		background-color: $accentcolor;
	}

	&::-ms-fill-lower
	{
		background-color: $accentcolor;
	}

	&::-ms-fill-upper
	{
		background-color: $accentcolor;
	}

	&::-webkit-slider-thumb
	{
		background-color: $backgroundcolor;
		width: 16px;
	}

	&::-moz-range-thumb
	{
		background-color: $backgroundcolor;
	}

	&::-ms-thumb
	{
		background-color: $backgroundcolor;
	}
}

.form-group
{
	display: flex;
	flex-direction: column;
}

.btn
{
	background-color: $backgroundcolor;
	color: $maincolor;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	transition: box-shadow .3s;

	&:active
	{
		box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .5);
	}
}

#viewbox
{
	background-color: $backgroundcolor;
	color: $maincolor;
	border-radius: 5px;
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .7);
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar
	{
		width: 0;
		height: 0;
	}

	h1
	{
		white-space: pre;
		font-size: 1rem;
		line-height: 3rem;
		text-shadow: 0 2px $accentcolor;
	}
}

@media (min-width: 576px) // landscape phones (sm)
{
	#viewbox-container
	{
		min-height: 100% !important;
		max-height: 100% !important;

		#viewbox
		{
			h1
			{
				font-size: .8rem;
				line-height: 2.2rem;
			}
		}
	}
}

@media (min-width: 768px) // tablets (md)
{

	label
	{
		font-size: 1.1rem;
	}

	output
	{
		font-size: 1.1rem;
	}

	p
	{
		font-size: 1.5rem;
	}

	.btn
	{
		$size: 75px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		min-height: 50% !important;
		max-height: 50% !important;

		#viewbox
		{
			h1
			{
				font-size: 2rem;
				line-height: 4rem;
			}
		}
	}
}

@media (min-width: 992px) // landscape tablets/desktops (lg)
{
	body
	{
		background-color: $atmospherecolor;
		display: flex;
		align-items: center;
		border-radius: 0;
	}

	label
	{
		font-size: .7rem;
	}

	output
	{
		font-size: .8rem;
	}

	p
	{
		font-size: 1.2rem;
	}

	.container-fluid
	{
		width: 400px;
		height: 650px !important;
		background-color: $maincolor;
		border-radius: 25px;
		box-shadow: 15px 0 0 10px $accentcolor;
	}

	.btn
	{
		$size: 45px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		#viewbox
		{
			h1
			{
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 1200px) // desktops (xl)
{
	#viewbox-container
	{
		#viewbox
		{
			h1
			{
				font-size: 1.3rem;
			}
		}
	}
}

@media (min-width: 1900px) // desktop
{
	label
	{
		font-size: 1.1rem;
	}

	output
	{
		font-size: 1.1rem;
	}

	p
	{
		font-size: 1.7rem;
	}

	.container-fluid
	{
		width: 550px;
		height: 900px !important;
	}

	.btn
	{
		$size: 75px;
		width: $size;
		height: $size;
	}

	#generatebutton
	{
		margin-right: 2rem;
	}

}
