@font-face {
  font-family: "Press Start 2P";
  src: url("PressStart2P-Regular.ttf");
  src: url("PressStart2P-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #022241;
  color: #7eebae;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  text-transform: lowercase;
  font-variant: small-caps;
}

#gameboy {
  background-color: #7eebae;
  color: #002e5b;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
#gameboy #screen-container {
  width: 100%;
  height: 50%;
  min-height: 50%;
  padding: 1rem;
}
#gameboy #screen-container #screen {
  background-color: #002e5b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}
#gameboy #screen-container #screen h1 {
  color: #7eebae;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  white-space: pre;
  text-shadow: 0 2px #54ad7c;
  text-transform: none;
  font-variant: normal;
}
#gameboy #screen-container #screen::-webkit-scrollbar {
  display: none;
}
#gameboy .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gameboy #buttons {
  margin-top: 4rem;
}
#gameboy #buttons .button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}
#gameboy #buttons .button-row .text-container {
  margin: 0 0.7rem;
}
#gameboy #buttons .button-row .button {
  background-color: #002e5b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#gameboy #buttons .button-row #generatebutton {
  margin-right: 4.5rem;
}
#gameboy #inputs {
  padding: 0 2rem;
}
#gameboy #inputs .slider-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
#gameboy #inputs .slider-row p {
  color: #54ad7c;
  font-size: 1.1rem;
  display: inline;
  white-space: pre;
}
#gameboy #inputs .slider-row .output {
  min-width: 6ch;
  color: #002e5b;
  margin-left: 1rem;
  font-size: 0.8rem;
}
#gameboy #inputs .slider-row .slider {
  background-color: #54ad7c;
  width: 80px;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
}
#gameboy #inputs .slider-row .slider::-webkit-slider-thumb {
  background-color: #002e5b;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
}
#gameboy #inputs .slider-row .slider::-moz-range-thumb {
  background-color: #002e5b;
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  #gameboy {
    width: 450px;
    height: 740px;
    border-radius: 15px;
    box-shadow: 12px 12px 0 12px #54ad7c;
  }
  #gameboy #screen-container {
    padding: 1.5rem;
  }
  #gameboy #screen-container #screen {
    padding: 2rem;
  }
  #gameboy #screen-container #screen h1 {
    font-size: 1.5rem;
    line-height: 4rem;
  }
  #gameboy #buttons {
    margin-top: 3rem;
  }
  #gameboy #buttons .button-row {
    font-size: 1.25rem;
    padding: 0 2rem;
  }
  #gameboy #buttons .button-row .button {
    width: 51px;
    height: 51px;
  }
  #gameboy #buttons .button-row #generatebutton {
    margin-right: 5.9rem;
  }
  #gameboy #inputs {
    margin-top: 2rem;
  }
  #gameboy #inputs .slider-row p {
    font-size: 1.1rem;
  }
  #gameboy #inputs .slider-row .output {
    font-size: 1rem;
  }
  #gameboy #inputs .slider-row .slider {
    width: 120px;
  }
}
@media (min-width: 992px) {
  #gameboy {
    width: 400px;
    height: 650px;
  }
  #gameboy #screen-container #screen h1 {
    font-size: 1.3rem;
    line-height: 3.5rem;
  }
  #gameboy #buttons {
    margin-top: 2rem;
  }
  #gameboy #buttons .button-row {
    font-size: 1.2rem;
  }
  #gameboy #buttons .button-row #generatebutton {
    margin-right: 5.5rem;
  }
  #gameboy #inputs {
    margin-top: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
