@font-face
{
	font-family: 'Press Start 2P';
	src: url('PressStart2P-Regular.ttf'); // IE9 compat
	src: url('PressStart2P-Regular.ttf') format('truetype'); // Safari, Android, IOS
}

$backgroundcolor: #002e5b;
$maincolor: #7eebae;
$accentcolor: #54ad7c;

body
{
	background-color: $maincolor;
	color: $backgroundcolor;
	font-family: 'Press Start 2P', cursive;
	border-radius: 25px;
	box-shadow: 0 0 100vmax 100vmax rgba(0, 0, 0, .75);
}

p
{
	font-size: 1rem;
	text-transform: lowercase;
	font-variant: small-caps;
}

label
{
	font-size: .7rem;
}

output
{
	font-size: .7rem;
}

input[type='range']
{
	vertical-align: middle;

	&::-webkit-slider-runnable-track
	{
		background-color: $accentcolor;
	}

	&::-moz-range-progress
	{
		background-color: $accentcolor;
	}

	&::-moz-range-track
	{
		background-color: $accentcolor;
	}

	&::-ms-fill-lower
	{
		background-color: $accentcolor;
	}

	&::-ms-fill-upper
	{
		background-color: $accentcolor;
	}

	&::-webkit-slider-thumb
	{
		background-color: $backgroundcolor;
		width: 16px;
	}

	&::-moz-range-thumb
	{
		background-color: $backgroundcolor;
	}

	&::-ms-thumb
	{
		background-color: $backgroundcolor;
	}
}

.form-group
{
	display: flex;
	flex-direction: column;
}

.btn
{
	background-color: $backgroundcolor;
	color: $maincolor;
	$size: 55px;
	width: $size;
	height: $size;
	border-radius: 50%;
	transition: box-shadow .3s;

	&:active
	{
		box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .5);
	}
}

#viewbox
{
	background-color: $backgroundcolor;
	color: $maincolor;
	border-radius: 5px;
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .7);
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar
	{
		width: 0;
		height: 0;
	}

	h1
	{
		white-space: pre;
		font-size: 1rem;
		line-height: 3rem;
		text-shadow: 0 2px $accentcolor;
	}
}

@media (min-width: 576px) // landscape phones (sm)
{
	#viewbox-container
	{
		min-height: 100% !important;
		max-height: 100% !important;

		#viewbox
		{
			h1
			{
				font-size: .8rem;
				line-height: 2.2rem;
			}
		}
	}
}

@media (min-width: 768px) // tablets (md)
{

	p
	{
		font-size: 1.6rem;
	}

	label
	{
		font-size: 1.2rem;
	}

	output
	{
		font-size: 1.2rem;
	}

	.col-auto
	{
		padding: 0 1rem;
	}

	.btn
	{
		$size: 85px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		min-height: 50% !important;
		max-height: 50% !important;

		#viewbox
		{
			box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .7);

			h1
			{
				font-size: 2.2rem;
				line-height: 6rem;
				text-shadow: 0 3px $accentcolor;
			}
		}
	}
}

@media (min-width: 992px) // landscape tablets/desktops (lg)
{

	p
	{
		font-size: 1.7rem;
	}

	.col-auto
	{
		padding: 0 .5rem;
	}

	.btn
	{
		$size: 100px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		min-height: 100% !important;
		max-height: 100% !important;

		#viewbox
		{
			h1
			{
				font-size: 1.5rem;
				line-height: 5rem;
			}
		}
	}

	#spacer
	{
		width: 100%;
		height: 100px;
	}
}

@media (min-width: 1400px) // desktops
{
	p
	{
		font-size: 3rem;
	}

	#spacer
	{
		height: 400px;
	}

	#viewbox
	{
		h1
		{
			font-size: 2.3rem !important;
			line-height: 6rem !important;
		}
	}
}

@media (min-width: 1540px) // larger desktops
{
	label
	{
		font-size: 1.8rem;
	}

	output
	{
		font-size: 1.8rem;
	}

	#spacer
	{
		height: 400px;
	}
}

@media (min-width: 1800px) // even larger desktops
{

	label
	{
		font-size: 2rem;
	}

	#spacer
	{
		height: 350px;
	}

	#viewbox
	{
		h1
		{
			font-size: 3.2rem !important;
			line-height: 8.5rem !important;
		}
	}
}
