$backgroundcolor: #002e5b;
$maincolor: #7eebae;
$accentcolor: #57c688;

body
{
	background-color: $maincolor;
	color: $backgroundcolor;
	font-family: 'Press Start 2P', cursive;
}

p
{
	font-size: 1rem;
	text-transform: lowercase;
	font-variant: small-caps;
}

select
{
	background-color: transparent !important;
	color: $backgroundcolor !important;
	padding: 0 .5rem;
	border: 0 !important;
	border-bottom: 1px solid $backgroundcolor !important;
	border-radius: 3px !important;
	font-size: .8rem;

	option
	{
		background-color: $maincolor;
		color: $backgroundcolor;
		font-size: 1rem;
	}
}

.col-auto
{
	padding: 0 .5rem;
}

.btn
{
	background-color: $backgroundcolor;
	color: $maincolor;
	$size: 55px;
	width: $size;
	height: $size;
	border: 3px solid $accentcolor;
	border-radius: 50%;
}

#viewbox
{
	background-color: $backgroundcolor;
	color: $maincolor;
	border: 5px solid $accentcolor;
	border-radius: 5px;
	box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .7);
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar
	{
		width: 0;
		height: 0;
	}

	h1
	{
		white-space: pre;
		font-size: 1.1rem;
		line-height: 3rem;
	}
}

@media (min-width: 576px) // landscape phones (sm)
{

	select
	{
		font-size: .7rem;
	}

	#viewbox-container
	{
		min-height: 100% !important;
		max-height: 100% !important;

		#viewbox
		{
			h1
			{
				font-size: .8rem;
				line-height: 2.2rem;
			}
		}
	}
}

@media (min-width: 768px) // tablets (md)
{

	p
	{
		font-size: 1.6rem;
	}

	select
	{
		font-size: 1.2rem;
	}

	.col-auto
	{
		padding: 0 1rem;
	}

	.btn
	{
		$size: 85px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		min-height: 50% !important;
		max-height: 50% !important;

		#viewbox
		{
			h1
			{
				font-size: 2.2rem;
				line-height: 6rem;
			}
		}
	}
}

@media (min-width: 992px) // landscape tablets/desktops (lg)
{

	p
	{
		font-size: 1.7rem;
	}

	select
	{
		font-size: 1.3rem;
	}

	.col-auto
	{
		padding: 0 .5rem;
	}

	.btn
	{
		$size: 100px;
		width: $size;
		height: $size;
	}

	#viewbox-container
	{
		min-height: 100% !important;
		max-height: 100% !important;

		#viewbox
		{
			h1
			{
				font-size: 1.7rem;
				line-height: 5rem;
			}
		}
	}

	#spacer
	{
		width: 100%;
		height: 190px;
	}
}

@media (min-width: 1400px) // desktops
{
	p
	{
		font-size: 3rem;
	}

	select
	{
		font-size: 2.75rem;
	}

	#spacer
	{
		height: 240px;
	}

	#viewbox-container
	{
		#viewbox
		{
			h1
			{
				font-size: 4.5rem;
			}
		}
	}
}

@media (min-width: 1540px) // larger desktops
{
	#spacer
	{
		height: 400px;
	}
}

@media (min-width: 1800px) // even larger desktops
{

	select
	{
		font-size: 2.4rem;
		border-width: 2px !important;
	}

	.col-auto
	{
		padding: 0 1.5rem;
	}

	.btn
	{
		$size: 150px;
		width: $size;
		height: $size;
	}

	#spacer
	{
		height: 350px;
	}

	#viewbox-container
	{
		#viewbox
		{
			h1
			{
				font-size: 3rem;
				line-height: 9rem;
			}
		}
	}
}
